# Database
DATABASE_URL="postgresql://username:password@localhost:5432/frotalog"

# Server
NODE_ENV="dev"
PORT=3333

# JWT
JWT_SECRET="your-super-secret-jwt-key-with-at-least-32-characters"

# Backblaze B2
B2_ENDPOINT="https://s3.us-east-005.backblazeb2.com"
B2_REGION="us-east-005"
B2_BUCKET="your-bucket-name"
B2_ACCESS_KEY_ID="your-key-id"
B2_SECRET_ACCESS_KEY="your-secret-key"
B2_PUBLIC_BASE_URL="https://s3.us-east-005.backblazeb2.com/your-bucket-name"
